body{
    font-family: 'Lora', serif;
    margin: 0;
    background: url("./pexels-photo-1179229.jpeg");
}
.main-img{
    width: 400;
    border-radius: 25px;
} 
.container{
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    color: white;
    width: 100%;
}
.welcome{
    display: flex;
}
.welcome-text{
    margin: 20px;
}
.content{
    width: 800px;
    margin: auto;
}
.name{
    font-size: 52px;
    width: 100%;
    text-align: center;
}
.namebox{
    width: 100%;
}
.instagram{
    width: 60px;
}